* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: none;
  font-family: "Montserrat", sans-serif;
}

.preview-section {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #e2e6ee;
}

.preview-section header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.shirt-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}

.shirt-container .shirt-title {
  width: 100%;
}

.shirt {
  position: relative;
}

.shirt h2 {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 7.5rem;
  font-size: 4rem;
  font-weight: 800;
  color: black;
  -webkit-text-stroke: 0.4px white;
}

/* -------------- */
.adjustment-section {
  width: 35%;
  padding: 2rem 1rem;
  overflow-y: auto;
  font-size: 0.8rem;
}

.adjustment-section h2 {
  padding: 0 1rem;
}

.adjustment-section form {
  padding-top: 3rem;
}

.adjustment-section form h3 {
  padding-left: 2rem;
  padding-bottom: 0.8rem;
}

.adjustment-section form fieldset {
  padding: 0.3rem 2rem 1rem;
  border: none;
  border-top: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}
.adjustment-section form fieldset:last-of-type {
  border: none;
}

.adjustment-section form fieldset label {
  padding: 1rem;
  border: 1px solid black;
  margin: 1rem 1rem 1rem 0;
  cursor: pointer;
  transition: 0.3s;
}

.adjustment-section form fieldset label:hover,
.adjustment-section form fieldset label:focus {
  background: #000;
  color: #fff;
}

.adjustment-section form fieldset input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.adjustment-section form fieldset input[type="radio"]:checked + label {
  background: #000;
  color: #fff;
}

.submit-field {
  display: flex;
  justify-content: space-between;
}
.submit-field select {
  padding: 1rem;
  border-radius: 0;
  border: 1px solid black;
  cursor: pointer;
}

.submit-field button {
  flex: 1;
  margin-left: 1rem;
  background: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 0.8rem;
}

.submit-field button:hover,
.submit-field button:focus {
  background: #fff;
  border: 1px solid #000;
  color: #000;
}

.fakeButton {
  background: #fff;
  color: #000;
  border: 1px solid #000;
  cursor: pointer;
  transition: 0.3s;
  padding: 0.5rem 2rem;
  text-align: center;
  max-width: 8rem;
}
.fakeButton:hover,
.fakeButton:focus {
  background: #000;
  color: #fff;
  border: 1px solid #000;
}

.adjustment-section form .text-fieldset {
  display: flex;
  flex-direction: column;
}

.adjustment-section form .text-fieldset input {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid black;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  padding: 0.7rem 0.6rem;
}

.adjustment-section form fieldset input[type="radio"]:focus + label {
  border: 2px solid blue;
}

#errorMsg {
  color: red;
  font-size: 1rem;
  padding: 0.4rem 2rem;
  letter-spacing: 0.5px;
}

/* ---------------- */
/* SHOPPING BAG  */

.bag-section {
  padding: 3rem;
  width: 100%;
}

.bag-section > h3 {
  padding-bottom: 1.5rem;
}

.bag-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}

.preview-container {
  position: relative;
}

.preview-container h5 {
  color: red;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 1.5rem;
  font-size: 0.8rem;
  font-weight: 800;
  color: black;
  -webkit-text-stroke: 0.4px white;
}

.bag-item-container .text-preview {
  text-transform: none;
}

svg path {
  stroke: black;
  stroke-width: 2rem;
}
.bag-icon {
  display: flex;
  justify-content: flex-end;
}
.bag-icon svg path {
  stroke: none;
}

.bag-item-container p {
  text-transform: capitalize;
}

.divider {
  width: 1px;
  height: 7rem;
  background: #000;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
}

.button-container a {
  text-decoration: none;
  border: 1px solid black;
  padding: 1rem 2rem;
  color: black;
  transition: 0.3s;
}
.button-container a:hover,
.button-container a:focus {
  background: black;
  color: #fff;
}

/* ----- responsive ------- */

@media (max-width: 810px) {
  body {
    flex-direction: column;
  }
  .preview-section {
    width: 100%;
  }
  .adjustment-section {
    width: 100%;
    overflow-y: unset;
  }

  .shirt-container svg {
    width: 100%;
  }

  .bag-item-container {
    flex-direction: column;
  }
  .divider {
    transform: rotate(90deg);
    height: 16rem;
    margin: -6.3rem;
  }
}
